/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f0f0f0;
}
:root{
  --accent-color: #F39C12; /* Tech Gold */
}
/* Sidebar Styles */
.sidebar {
  
  position: fixed;
  top: 0;
  right: -300px; /* Adjust this */
  width: 300px;  /* Adjust this */
  height: 100vh;

  background: radial-gradient(circle at center, #0b2440 10%, #072238 60%, #0a2b41 80%);
  color: #fff;
  padding-top: 25px;
  overflow-x: hidden;
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  transform: translateX(0);
}

/* Sidebar Header Styles */
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.user-profile-img {
  width: 90px;
  height: 105px;
  border-radius: 50%;
  margin-bottom: 15px;
}
/* Sidebar Navigation Styles */
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-nav li {
  margin: 12px 0;
}

.sidebar-nav a {
  display: block;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav a:hover,
.sidebar-nav li.active a {
  background-color: #F39C12;
}

/* Sub-menu Styles */

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar.open {
    right: 0;
  }

  .close-icon {
    top: 18px;
    right: 18px;
  }

  .user-profile {
    margin-right: 1.2rem;
  }
}
