/* CSS for the glass container */
.glass-container {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-container {
  background: linear-gradient(135deg, #071F32, #0c497f, #071F32);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px); /* Key for glass effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  width: auto; /* Adjust width as needed */
  max-width: 400px; /* Maximum width */
}
.custom-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.loader {
  border: 8px solid rgba(79, 169, 77, 0.2);
  border-top: 8px solid #4fa94d; /* Loader color */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.auth-setting-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background: #071F32; /* Darker background with some transparency */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 10px #ffca1c; /* Neon-like light shadow effect */
  padding: 10px;
}

/* Neon text effect */

/* Neon text effect */


.welcome-page-icon {
  font-size: 24px;
  color: #ffe600; /* Dark gold color for icons */
  margin-right: 5px;
}

.form-control {
  text-align: end;
}

.login-btn {
  background-color: #ffa600; /* Gold color for login button */
  color: #fff;
  font-size: .9rem;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px #ffa600;
  z-index: 1;
}

.login-btn:hover {
  background-color: #a3820c; /* Lighter gold on hover */
}

.login-back {
  background-color: #c02514; /* Red color for back button */
  color: #fff;
  padding: 10px;
  
  font-size: .9rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.login-back:hover {
  background-color: #ff7a6a; /* Lighter red on hover */
}
