<<<<<<< HEAD
/* Use Cairo font */
body {
  font-family: 'Cairo', sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
=======

/* Auth Styles */
.auth-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Removed px from 0px */
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}

/* Admin Dashboard Styles */
.admin-dashboard {
  display: flex;
  flex-direction: row-reverse; /* For RTL */
  transition: margin-right 0.3s ease-in-out;
}

.admin-dashboard.sidebar-open .sidebar {
  transform: translateX(0); /* Sidebar appears */
}

<<<<<<< HEAD
/* Reset default margin and padding */
body,
div,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Responsive Handling for Footer */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
=======
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
