/* Use Cairo font */
body {
  font-family: 'Cairo', sans-serif;
  background-color: rgb(12, 16, 23);
}
.admin-dashboard {
  display: flex;
  flex-direction: row-reverse; /* RTL layout */
  transition: margin-right 0.3s ease-in-out;
}

.admin-dashboard.sidebar-open .sidebar {
  transform: translateX(0);
}
/* Reset default margin and padding */
body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}