/* General Styles for FullCalendar */
.fc {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

/* Card Style for Events */
.home-card-calendar {
  background-color: #dde9ff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin-bottom: 16px;
}

.calendar-container-display {
  position: relative;
  z-index: 1;
  background-color: #0a263c;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .calendar-event-card {
    margin-bottom: 12px;
    padding: 12px;
  }
}

/* Styles for Arabic Font */
.arabic-font {
  font-family: 'Arial', sans-serif; /* Replace with your preferred Arabic font */
}

/* Styles for Clock and Header */
.clock {
  margin-top: 15px;
}

.home-text-center {
  text-align: center;
}

/* Styles for animated background */
.calendar-container {
  position: relative;
  z-index: 1;
}

.calendar-container-display {
  z-index: 2;
}

/* Enhanced styling for event cards */
.calendar-event-card {
  background-color: #fff; /* White background to allow for better text readability */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0px 8px 16px 0px rgba(226, 29, 29, 0.2); /* Box shadow for 3D effect */
  transition: transform 0.2s; /* Animation for hover effect */
  margin-bottom: 16px; /* Margin at the bottom to separate multiple cards */
  overflow: hidden; /* Add this line to prevent overflow */
}

.calendar-event-card strong {
  /* Existing styles */
  display: block; /* Make it a block element */
  max-width: 100%; /* Maximum width */
  overflow-wrap: break-word; /* Break words to prevent overflow */
  word-wrap: break-word; /* For older browsers */
}

/* Card Header Styling */

/* Hover Effect */
.calendar-event-card:hover {
  transform: scale(1.02); /* Slightly enlarge the card */
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}
