.card-header-courts {
  background-color: beige;
  text-align: center;
}

.header-text {
  color: #006e5d;
}

.table-head-courts {
  background-color: #1ec96ee4;
  color: #197e8f;
}

.table-row-courts {
  background-color: #D1ECF1;
  color: #0C5460;
}
