.financial-dashboard {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.financial-card,
.financial-search-card {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: rgb(255, 251, 0);
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border: 6px solid #e4a802;
  border-radius: 50%;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.financial-card p,
.financial-search-card p {
  margin: 0;
  font-size: 1.5em;
}

.financial-card:hover {
  background: rgb(9, 81, 122); 
  box-shadow: 15px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .financial-card {
    width: 120px;
    height: 120px;
  }
  .financial-card p {
    font-size: 1.2em;
  }
  /* The following is for .financial-search-card but you may not need it */
  .financial-search-card {
    width: 120px;
    height: 120px;
  }
  .financial-search-card p {
    font-size: 1.2em;
  }
}

.expenses-card-header {
  background: linear-gradient(325deg, #1a485c, #0a2741);
  
  display: flex;
  justify-content: center;
  align-items: center;

}

