/* Reset default margin and padding */
<<<<<<< HEAD
body, div, h1, h2, h3, p, ul, li {
=======
body,
div,
h1,
h2,
h3,
p,
ul,
li {
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--bg-color);
<<<<<<< HEAD
  color: var(--text-light);
=======
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}

/* Main Content Styles */
.main-content {
<<<<<<< HEAD
  background-color: var(--dark-blue-bg);
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap onto next line */
  padding: 15px;
  transition: margin-right 0.2s ease-in-out;
  height: 100vh;
  color: var(--text-light);
}

.main-content.sidebar-open {
  margin-right: 300px; /* Or use % if more appropriate */
=======
  background-color: var(--bg-color);
  display: grid;
  padding: 15px;
  justify-content: center; /* Center horizontally */
  transition: margin-right 0.2s ease-in-out; /* Adjusted transition time */
  height: 100vh; /* Full viewport height */
}

.main-content.sidebar-open {
  margin-right: 300px; /* Matches the sidebar width */
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}

/* Responsive Handling */
@media (max-width: 768px) {
<<<<<<< HEAD
  .main-content {
    flex-direction: column; /* Stack content vertically */
=======
  .main-content.sidebar-open {
    margin-right: 0; /* Reset margin-right */
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
  }
  
  .main-content.sidebar-open {
    margin-right: 0; /* Reset margin-right for smaller screens */
  }

  /* Optional: Adjust padding or other styles for smaller screens */
}

/* Inner Content Style */
.content-inner {
  padding: 20px;
<<<<<<< HEAD
  width: 100%; /* Use percentage for flexible width */
  text-align: center;
}

/* Admin Dashboard Styles */
.admin-dashboard {
  display: flex;
  flex-direction: row-reverse; /* For RTL */
  transition: margin-right 0.3s ease-in-out;
}

.admin-dashboard.sidebar-open .sidebar {
  transform: translateX(0); /* Sidebar appears */
=======
  max-width: 100%;
  text-align: center;
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}

/* Auth Styles */
.auth-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Removed px from 0px */
}

/* Admin Dashboard Styles */
.admin-dashboard {
  display: flex;
  flex-direction: row-reverse; /* For RTL */
  transition: margin-right 0.3s ease-in-out;
}

.admin-dashboard.sidebar-open .sidebar {
  transform: translateX(0); /* Sidebar appears */
}

