/* CustomModal.css */

/* Container styles */

/* Show the modal */
.service-procedure-modal.show {
  opacity: 1;
}

/* Modal title styles */
.service-procedure-modal .modal-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

/* Form input styles */
.service-procedure-modal input[type='text'],
.service-procedure-modal input[type='number'],
.service-procedure-modal select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff; /* White input background */
  color: #333; /* Dark text color */
}

/* Submit button styles */
.service-procedure-modal button[type='submit'] {
  background-color: #2052d1; /* Cute pink background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Hover effect for the submit button */
.service-procedure-modal button[type='submit']:hover {
  background-color: hsl(229, 77%, 55%); /* Darker pink on hover */
}

/* Centered form container */
.centered-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Centered form styles */
.centered-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center; /* Center text inside the form */
}
