/* SectionHeader.css */

/* تدرجات خلفية اللون الأزرق الداكن */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      to bottom, 
      #0b2440 0%, 
      #010e18 50%, 
      #0a2b41 100%
    );
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(171, 5, 5, 0.763);  
    color: #ffffff; /* لون النص */
    padding: 15px 20px; /* تعديل الهوامش حسب الحاجة */
  }
  
  .section-header-title {
    display: flex;
    align-items: center;
  }
  
  .section-header-title h2 {
    margin: 0;
    font-size: 24px;
    margin-right: 10px;
    color: #df9114; /* لون النص */
  }
  
  .section-icon {
    width: 100px;
    height: 100px;
    fill: #ffffff; /* لون الأيقونة (إذا كانت SVG) */
  }
  
  .section-header-buttons button {
    background-color: #df9114; /* لون خلفية الزر */
    color: #ffffff; /* لون النص */
    border: none;
    padding: 10px 20px;
    font-size: 16px;

  }
  
  .section-header-buttons button:hover {
    background-color: #b67000; /* لون خلفية الزر عند التحويل */
  }
  
  .back-btn {
    background-color: #fe0019;
  }
  
  .back-btn:hover {
    background-color: #8b010f;
  }
  
  /* وسائط الاستجابة للتصميم الاستجابي */
  @media (max-width: 768px) {
    .section-header {
      flex-direction: column;
      text-align: center;
      padding: 15px;
    }
  
    .section-header-title h2 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .section-header-buttons button {
      margin-left: 30px;
    }
  }
  