/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, #012E4F,#926922, #aa823d);
  color: #fff;
  padding-top: 20px;
  overflow-x: hidden;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

/* Sidebar Header Styles */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  border-bottom: 1px solid #444;
  text-align: center;
}

.user-profile-img {
  width: 85px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
}

/* Sidebar Navigation Styles */
.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  margin: 10px 0;
  padding: 0;
}

.sidebar-nav a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s;
}

.sidebar-nav a:hover,
.sidebar-nav li.active a {
  background-color: #eca406;
}

/* Sub-menu Styles */
.sub-menu {
  position: relative;
}

.sub-menu-items {
  list-style: none;
  padding-left: 0;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  transform: translateX(-100%);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s;
}

.sub-menu:hover .sub-menu-items {
  transform: translateX(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar.open {
    right: 0;
  }

  .close-icon {
    top: 15px;
    right: 15px;
  }

  .user-profile {
    margin-right: 1rem;
  }

  .search-form {
    display: none;
  }
}
