/* General styling for the navbar */
.navbar-top-nav {
  padding: 0.5rem 1rem;
  background: linear-gradient(
    #0b2440 0%,
    #010e18 50%,
    #0a2b41 100%
  );
}
.home-navbar-toggle {
  /* Your existing styles for the toggle button */
  background-color: #ffa500; /* Initial background color (orange) */
  color: #fff; /* Initial text color (white) */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.home-navbar-toggle:hover {
  background-color: #ff7f00; /* Darker orange color on hover */
}
.basic-navbar-nav {

  background: linear-gradient(
    to top, 
    #0b2440 0%, 
    #010e18 50%, 
    #0a2b41 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the links occupy the full width */
}
.basic-navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
}

.basic-navbar-nav .nav-link:hover {
  color: #ffc107;
  text-decoration: underline;
}

.centered-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Styles for the round logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #020124;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* Styling for navigation items */
.navbar-top-nav .nav-link {
  color: rgba(255, 226, 171, 0.898);
  display: flex;
  font-size: small;
  align-items: center;
}

/* Icons in the navbar */
.navbar-top-nav .nav-item .react-icon {
  margin: auto 5px;
}

/* Dropdown and User menu */
.user-menu {
  display: flex;
  align-items: center;
  flex-direction: row; /* Change from column to row */
}


.notification-button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #dda20c;
  position: relative;
  background-color: transparent;
}

.notification-badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
}

.notification-icon {
  position: relative;
}

.notification-alert {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: right;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-top-nav .nav-link {
    margin-left: 0; /* Adjust spacing on smaller screens */
  }

  .navbar-top-nav .user-menu .nav-dropdown {
    margin-right: 0.5rem; /* Adjust user menu spacing */
  }
  @media (max-width: 768px) {
    .nav-icon {
      font-size: 1.25rem;
    }
    .nav-link {
      font-size: 0.9rem;
    }
  }
}

/* Additional styling can be added here for specific needs */
