/* TopNav.css */
/* TopNav.css */

/* Top Navigation Styles */
.navbar-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(
    #0b2440 0%,
    #010e18 50%,
    #0a2b41 100%
  );
  color: #ffffff;
  box-shadow: 0 4px 60px rgba(0, 108, 216, 0.44);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.container-top-nav {
  background: linear-gradient(
    325deg,
    #123646,
    #0a2741
  );
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensure content doesn't overflow */
}

/* Base styles for navigation items */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

.nav-link {
  text-align: center;
  padding: 4px 0;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
}

/* User Menu and Notification Common Styles */
.user-menu {
  display: flex;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.notification-button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #dda20c;
  position: relative;
  background-color: transparent;
}

.notification-badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
}

.notification-icon {
  position: relative;
}

.notification-alert {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: right;
}

/* Media queries and other styles remain unchanged */

@media (max-width: 768px) {
  .sidebar-open .top-nav {
    margin-right: 0; /* Reset margin for small screens */
  }
  

  .nav-item .m-2 {
    font-size: 12px; /* Smaller icons on smaller screens */
    
  }
}

@media (min-width: 769px) {
  .nav-item .m-2 {
    color: #dfbc67;
  }
}



/* Base styles for navigation items */
.nav-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.navbar-brand  {
  height: auto; /* يضمن الحفاظ على نسب الأبعاد */
  width: 100px; /* العرض الافتراضي */
}

.nav-link:hover, .nav-link.active {
  color: orange; /* Color change on hover and active state */
}
