/* TopNav.css */

/* Top Navigation Styles */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(335deg,#002D40  , #0c5e4c, #002D40);
  color: #fff;
  box-shadow: 0 4px 60px rgba(134, 99, 99, 0.1);
  transition: transform 0.3s ease-in-out;
}

.Brand-Logo {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand img {
  width: 80px;
  height: 40px;
  margin-right: 60px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.search-form button[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 0.5rem;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.user-menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff; /* Text color */
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #d9534f;
  color: #ffffff;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 0.8rem;
}

.notification-alert {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notification-button:hover + .notification-alert {
  display: block;
}

.sidebar-open .top-nav {
  margin-right: 170px;
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
  .navbar-toggler {
    margin-right: 0.5rem;
  }
  .search-form {
    display: none;
  }

  .user-profile {
    margin-right: 0.5rem;
  }
}
