.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.top-tools .active {
  background-color: #ccc;
}
.brand-logo {
  margin-left: 20px; /* تعديل حسب الحاجة لضبط المسافة */
}
