/* CSS for the glass container */
.glass-container {
  background: rgba(0, 0, 0, 0.6); /* Darker background with some transparency */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.form-container {
  background: linear-gradient(135deg, #041454, #1e2a66, #0f2168);
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

}
.custom-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid rgba(79, 169, 77, 0.2);
  border-top: 8px solid #4fa94d; /* Loader color */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.auth-setting-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background: rgba(57, 53, 179, 0.931); /* Darker background with some transparency */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 10px #fffb0b; /* Neon-like light shadow effect */
  padding: 10px;
}

.auth-title {
  font-size: 24px;
  color: #ffc108; /* Gold color for title */
  margin-bottom: 10px;
}

.auth-subtitle {
  font-size: 16px;
  color: #fff; /* White color for subtitle */
}

/* Neon text effect */
.auth-title::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #ffc108; /* Gold color */
  margin-left: 10px;
}

/* Neon text effect */
.auth-title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffc108; /* Gold color */
  margin-right: 10px;
}


.welcome-page-icon {
  font-size: 24px;
  color: #ffe600; /* Dark gold color for icons */
  margin-right: 5px;
}

.auth-login-form input[type="email"],
.auth-login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; /* Lighter border color */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.form-control,
.formBasicPassword {
  text-align: end;
}

.glass-card {
  background-color: rgba(0, 0, 0, 0.6); /* Darker background with some transparency */
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 18rem;
  margin: auto;
  margin-top: 15px;
  color: #fff; /* White text color for better readability */
}

.glass-card-title {
  font-size: 24px;
  color: #ffc108; /* Gold color for title */
}

.glass-card-title-small {
  color: #d44030; /* Red color for smaller titles */
  font-size: 15px;
}

.glass-card-text {
  color: #eee; /* Light gray text color */
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(11, 22, 26), rgb(14, 48, 66), rgb(10, 18, 24)); /* Gradient background */
  direction: rtl;
  color: #fff;
  padding: 20px 0; /* Increase padding for better spacing */
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #fff; /* Add a top border for separation */
}

.footer-container p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 20px 0;
  }

  .footer-container p {
    margin-bottom: 10px;
  }
}

.login-btn {
  background-color: #ffa600; /* Gold color for login button */
  color: #fff;
  font-size: .9rem;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px #ffa600;
  z-index: 1;
}

.login-btn:hover {
  background-color: #a3820c; /* Lighter gold on hover */
}

.login-back {
  background-color: #c02514; /* Red color for back button */
  color: #fff;
  padding: 10px;
  
  font-size: .9rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.login-back:hover {
  background-color: #ff7a6a; /* Lighter red on hover */
}

.guest_card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.guest_card__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff; /* White color for title */
}

.guest_card__description {
  font-size: 1rem;
  text-align: center;
  color: #aaa; /* Light gray text color */
  line-height: 1.5;
}

.change-btn {
  margin-bottom: 12px;
  background-color: #ffc108; /* Gold color for change button */
  color: #fff;
}
