.special-login-card {
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.special-login-header {
  background-color: #f4f4f4;
  text-align: center;
}

.special-login-title {
  color: #333;
  font-weight: bold;
}

.special-login-icon {
  color: #007bff;
}

.special-login-body {
  padding: 20px;
}

.special-login-input {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.special-login-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.special-login-footer {
  text-align: center;
  padding: 15px;
}
.special-register-card {
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.special-register-header {
  background-color: #f4f4f4;
  text-align: center;
}

.special-register-title {
  color: #333;
  font-weight: bold;
}

.special-register-icon {
  color: #007bff;
}

.special-register-body {
  padding: 20px;
}

.special-register-input {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.special-register-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.special-register-footer {
  text-align: center;
  padding: 15px;
}
