.toolbar {
  display: flex;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 10px;
}

.toolbar select,
.toolbar button {
  margin-right: 5px;
  padding: 5px;
}

.toolbar button {
  cursor: pointer;
}
