body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* منع أي تمرير غير مرغوب فيه بسبب التكبير */
}

.cover-image {
    background-image: url('images/cover-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* استخدام الوحدات النسبية للارتفاع */
    width: 100vw; /* استخدام الوحدات النسبية للعرض */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomInOut 20s infinite; /* تعديل مدة الحركة لجعلها أبطأ */
}
.text {
    color: #fff; /* لون النص */
    font-family: "Protest Riot", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    text-align: left; /* محاذاة النص إلى اليسار */
    position: absolute;
    left: 10%; /* النص يبدأ من 10% من اليسار */
    top: 50%; /* موقع النص من الأعلى ليكون في المنتصف */
    transform: translateY(-50%); /* تعديل موضع النص ليكون بالضبط في المنتصف العمودي */
    width: auto; /* عرض النص حسب المحتوى */
}
.footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
font-size: 1.4rem;
    color: #f2f2f2;
}

@keyframes zoomInOut {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); } /* تكبير الصورة قليلاً */
}
@media (max-width: 768px) {
    .text {
        font-size: .9rem; /* Smaller font size for better readability on small devices */
        left: 5%; /* Adjust text positioning for smaller screens */
    
        font-family: "Protest Riot", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        font-style: normal;
    }
    .footer {
        text-align: center;
        padding: 5px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    font-size: .7rem;
        color: #f2f2f2;
    }
    
}
