/*####################### Arabic Font for App ########################*/
/* استيراد الخطوط */ 
/*####################### Color Variables ########################*/

:root {
  /* ألوان النهار */
  --light-mode-background: #ffffff;
  --day-text: #424242;
  --day-border-background: #8a55a2;
  --day-section-background: #9c8cff;
  --day-section-text: #FFFFFF;
  --day-header-shadow: 0px 4px 12px rgba(251, 200, 33, .5);
  --day-hover-background: #FFFFFF;
  --day-hover-text: #FB8C00;
  --day-hover-active: #f7c89d;
  --day-link-text: #8e11c7;
  --day-footer-background: #FCE4EC;
  --day-footer-text: #C2185B;

  /* ألوان الليل */
  --dark-mode-background: #111828;
  --night-link-text: #f2b8ff;
  --night-border-background: #0F212E;
  --night-hover-background: #deb562;
  --night-border-text: #fcf8ff;
  --night-header-shadow: 0px 4px 12px rgba(244, 175, 24, 0.872);
  --night-text: #d3f2ff;
  --night-home-card: #546E7A;
  --night-footer: #37474F;
  --gradient-color-start: #203055;
  --gradient-color-center: #182135;
  --gradient-color-end: #121a2f;
  --gradient-color-landing-start: #957DAD;
  --gradient-color-landing-mid: #D291BC;
  --gradient-color-landing-end: #E0BBE4;
}


/*####################### Body Style for App ########################*/
body {
  background-color: var(--light-mode-background);
  color: var(--day-text); /* Set the text color for light mode */
  transition: background-color 0.3s, color 0.3s;

  
}
/* From Uiverse.io by Z4drus */ 
.spinner-container {
  --uib-size: 150px;
  --uib-speed: 1.2s;
  --uib-dot-size: calc(var(--uib-size) * 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--uib-size) * 0.64);
  width: calc(var(--uib-size) * 0.64);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(-120%);
  }
}
/* Smooth transition between light and dark mode */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dot {
  --uib-d1: -0.48;
  --uib-d2: -0.4;
  --uib-d3: -0.32;
  --uib-d4: -0.24;
  --uib-d5: -0.16;
  --uib-d6: -0.08;
  --uib-d7: -0;
  position: absolute;
  bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
  right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  animation: jump var(--uib-speed) ease-in-out infinite;
  opacity: var(--uib-scale);
  will-change: transform;
  backface-visibility: hidden;
}

.dot::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
  transform: scale(var(--uib-scale));
  transition: background-color 0.3s ease;
}

.dot:nth-child(1) {
  --uib-bottom: 24%;
  --uib-right: -35%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d1));
}

.dot:nth-child(2) {
  --uib-bottom: 16%;
  --uib-right: -6%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}

.dot:nth-child(3) {
  --uib-bottom: 8%;
  --uib-right: 23%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.dot:nth-child(4) {
  --uib-bottom: -1%;
  --uib-right: 51%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.dot:nth-child(5) {
  --uib-bottom: 38%;
  --uib-right: -17.5%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}

.dot:nth-child(6) {
  --uib-bottom: 30%;
  --uib-right: 10%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.dot:nth-child(7) {
  --uib-bottom: 22%;
  --uib-right: 39%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.dot:nth-child(8) {
  --uib-bottom: 14%;
  --uib-right: 67%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.dot:nth-child(9) {
  --uib-bottom: 53%;
  --uib-right: -0.8%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}

.dot:nth-child(10) {
  --uib-bottom: 44.5%;
  --uib-right: 27%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.dot:nth-child(11) {
  --uib-bottom: 36%;
  --uib-right: 55.7%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.dot:nth-child(12) {
  --uib-bottom: 28.7%;
  --uib-right: 84.3%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}

.dot:nth-child(13) {
  --uib-bottom: 66.8%;
  --uib-right: 15%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}

.dot:nth-child(14) {
  --uib-bottom: 58.8%;
  --uib-right: 43%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}

.dot:nth-child(15) {
  --uib-bottom: 50%;
  --uib-right: 72%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}

.dot:nth-child(16) {
  --uib-bottom: 42%;
  --uib-right: 100%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d7));
}

.dot:nth-child(3) {
  --uib-scale: 0.98;
}

.dot:nth-child(2),
.dot:nth-child(8) {
  --uib-scale: 0.96;
}

.dot:nth-child(1),
.dot:nth-child(7) {
  --uib-scale: 0.94;
}

.dot:nth-child(6),
.dot:nth-child(12) {
  --uib-scale: 0.92;
}

.dot:nth-child(5),
.dot:nth-child(11) {
  --uib-scale: 0.9;
}

.dot:nth-child(10),
.dot:nth-child(16) {
  --uib-scale: 0.88;
}

.dot:nth-child(9),
.dot:nth-child(15) {
  --uib-scale: 0.86;
}

.dot:nth-child(14) {
  --uib-scale: 0.84;
}

.dot:nth-child(13) {
  --uib-scale: 0.82;
}














