

/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  color: #272829;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
:root {
<<<<<<< HEAD
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --primary-color: #0041e6;
  --primary-hover: #26428b;
  --secondary-color: #e41e1e;
  --accent-color: #df9114;
  --accent-hover: #9c6000;
  --bg-color: #F4F6F9;
  --text-light: #ffffff;
  --text-dark: #333333;
=======
  --secondary-color: #454545; /* Dark Gray */
  --accent-color: #F39C12; /* Tech Gold */
  --bg-color: #F4F6F9; /* Light Gray */
  --text-light: #ffffff; /* White */

    --primary-color: #2c3e50;
    --shadow-color: rgba(134, 99, 99, 0.1);

  --text-dark: #333333; /* Near Black */
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}


a {
  color: #149ddd;
  text-decoration: none;
}

<<<<<<< HEAD


/* Sections Headers */.section-card-header {
  
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border-radius: 80px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e3bd65;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
}

.title-row {
  width: 100%;
  text-align: center; /* Center the text */
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  /* Push button to the right */
}

.add-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  margin-right: 34px;
}

.add-btn:hover {
  background-color: var(--accent-hover);
}

.back-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  

}

.back-btn:hover {
  background-color: var(--primary-hover);
}
/* Responsive styles */
@media (max-width: 768px) { 
  .section-card-header {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50px;
  }
  .add-btn {
    padding: 8px 16px;
    font-size: 0.8rem;
    border-radius: 20px;
  }
  .back-btn {
    padding: 8px 16px;
    font-size: 0.8rem;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .section-card-header {
    font-size: 1rem;
    padding: 6px;
    border-radius: 40px;
  }
  .add-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
  .back-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
}


/* Utility Classes */
.text-center {
  text-align: center;
}

=======
a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

/* Profile Section */
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Links */
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}
/* Lawyer Section */
.modal-header {
  background: linear-gradient(
    135deg,
    #9c6e1f,
    #033150
  ); /* Same gradient as topnav */

  font-size: 21px;
}
.modal-title {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Container Padding */
.container,
.container-fluid {
  padding-left: 15px; /* Adjust padding based on your design */
  padding-right: 15px; /* Adjust padding based on your design */
}

.card {
  background-color: rgb(238, 244, 255);
}

/*Court Setting*/
<<<<<<< HEAD
=======
.court-setting-card-header {
  background: linear-gradient(
    135deg,
    #9b7e4b,
    #d6a145
  ); /* Same gradient as topnav */

  border-radius: 80px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;

  text-align: center;
  font-size: 1.5rem;
  color: #f7f4ed;
}
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
.name {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 0;
}

.label {
  color: #6c757d;
  font-size: 18px;
}

.client-phone {
  color: #28a745;
}

.client-email {
  color: #dc3545;
}

.client-religion {
  color: #ff9800;
}

.client-address {
  color: #795548;
}

.client-emergency {
  color: #9c27b0;
}

.client-work {
  color: #607d8b;
}
.client-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.client-add-icon {
  width: 90px;
  height: 60px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
.animated-card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.animated-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
/*btn Start*/
.btn-back {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.btn-add {
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
/*btn End*/
/*Icons Start*/

.legCase-icon {
  width: 75px;
  height: 60px;
}
.card-icon {
  transition: all 0.3s ease-in-out;
}

.animated-card:hover .card-icon {
  transform: rotate(360deg);
}

.dashboard-icon {
  width: 180px;
  height: 100px;
}

.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}

<<<<<<< HEAD

  /*Icons End*/
=======
.leg-case-icon {
  padding-bottom: 3px;
  width: 150px;
  height: 75px;
}
/*Icons End*/
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c

/* legalCase Detaiis End*/

/* Responsive styles */
@media screen and (max-width: 767px) {
  .icon-card-title {
    font-size: 20px;
  }

  .icon-card-text {
    font-size: 18px;
  }

  .event-card {
    margin-bottom: 20px;
  }
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-title {
    font-size: 28px;
  }
/* Cards and headers */
.add-link-client {
  color: #0a1e3d;
  font-size: medium;
  font-family: 'cairo', sans-serif;
  font-weight: bold;
}

<<<<<<< HEAD
/* Banner and Icons */
.leg-details-banner-image {
  width: 250px;
  height: 100px;
=======
  .button {
    padding: 8px 16px;
  }
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }

  .button {
    padding: 6px 12px;
  }
}
.custom-card-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    #1a5dca,
    #745114
  ); /* Same gradient as topnav */ /* تدرج ألوان جميل وجذاب */

<<<<<<< HEAD
@media (min-width: var(--breakpoint-md)) {
  /* Your styles for medium devices and up */
=======
  text-align: center;

  color: #fffcf3;
}
.add-link-client {
  color: #0a1e3d;
  font-size: medium;
  font-family: 'cairo', sans-serif;
  font-weight: bold;
}
.leg-details-banner-image {
  width: 250px;
  height: 100px;
}
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c

/**Procedure Search Page ***/
.procedure-search {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.search-button {
  background-color: #002d43;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #001d2b;
}

.details-row {
  display: flex;
  justify-content: space;
}
/**Procedure Search End***/
.leg-case-details-card {
  border-radius: 10px;
  background: rgb(9, 45, 54);
  padding: 20px;
}
.data-box {
  position: relative;
  overflow: hidden;
}

.data-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 215, 0, 0.8) 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.data-box:hover:before,
.data-box:focus:before {
  transform: translateX(0%);
}

.data-label,
.data-value {
  position: relative;
  z-index: 1;
}

.data-row {
  margin-bottom: 20px;
}

.data-box {
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.3s;
}

.data-box:hover {
  transform: scale(1.05);
}

.data-label {
  color: #ffffff;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  font-size: 1.7rem;
}

.data-value {
  color: #031738;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  font-size: 1.2rem;
}
/* Procdure Search */
.search-text-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    #1a5dca,
    #745114
  ); /* Same gradient as topnav */ /* تدرج ألوان جميل وجذاب */

  text-align: center;
  font-size: 1.5rem;
  color: #ffc108;
  margin-bottom: 10px;
}
.search-label-text {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #f3e6e6;
  border: 1px solid linear-gradient(to top, #1d0367, #3c0381, #330250); /* تدرج ألوان جميل وجذاب */

  background: linear-gradient(rgb(4, 19, 41), rgb(22 57 75), rgb(10 47 67));
  padding-top: 10px; /* Add padding to create space around the text */
}
.search-button {
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #b14141;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px; /* Add border-radius for a cute rounded look */

  /* Add a cute hover effect */
  &:hover {
    background-color: #ff7f7f;
  }
}
<<<<<<< HEAD
} 
}
=======
>>>>>>> 6d43be313a44f1b0c5315d242720e3fa2ab1754c
