@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

/* General Styles */
body.modal-open {
  overflow: hidden;
}

body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.logo {
  background-image: url('/logo.png');
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius:50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# TopNav
--------------------------------------------------------------*/
.top-nav-container{
  background: #f8f9fa;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
  .dropdown-top-nav-item {
    /* Adjust the left padding of the dropdown as needed */
    padding-left: 55px;
    /* Add other styles for the dropdown menu as needed */
  }





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding:0 15px;
    font-family: 'Cairo', sans-serif;
  
  background:linear-gradient(rgb(4, 19, 41), rgb(22 57 75), rgb(10 47 67));
direction:rtl;
  overflow-y: auto;
}
.header-visible {
  display: block;
}

.header-hidden {
  display: none;
}
#header .profile img {
  margin:15px auto;
  display: block;
  width: 120px;
  border: 0px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin:0;
  padding:0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding:8px 0;
  margin-left: 4px;
  border-radius:50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-right: 50px;
  margin-bottom: 100px;
}

.container,
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1199px) {
  #header {
    right: -300px;
  }

  #main {
    margin-right: 150;
  }

  .container,
  .container-fluid {
    padding-right: 12px;
    padding-left: 12px;
  }
}
/* تحديد ظهور الشريط الجانبي على الهواتف المحمولة */
@media (max-width: 767px) {
  #header {
    right: 0;
  }

  #main {
    margin: auto;
  }

  .container,
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  color: #a8a9b4;
  padding: 32px 45px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
  text-align: center; /* Center the text */
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 1.6rem;
  padding-right: 70px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
  background-color: #149ddd; /* Add background color on hover */
  z-index: 1; /* Raise the link above other elements */
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #fff;
}

/* Center the text in the links */
.nav-menu a span {
  margin-right: auto;
  margin-left: auto;
}

/* Default styles for the toggle button */
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 1.2rem;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
    font-family: 'Cairo', sans-serif; 
  
  cursor: pointer;
}

/* Styles for RTL layout */
/* Adjust the position of the toggle button when in RTL layout */
/* You may need to fine-tune the left/right positions based on your layout */
body[dir="rtl"] .mobile-nav-toggle {
  left: unset;
  right: 15px;
}


/* Add this new rule for the hover effect */
.nav-menu a:hover {
  color: #fff;
}

/* Add this new rule for the hover effect on icons */
.nav-menu a:hover i {
  color: #149ddd;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/aralogo.png ") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin-top: 0; margin-left: 0; margin-bottom: 10px; margin-right: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding:60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  right: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding:0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-left: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-left: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding:30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: right;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-right: 60px;
}

.facts .count-box p {
  padding-top: 15px; padding-left: 0; padding-bottom: 0; padding-right: 0;
  margin-top: 0; margin-left: 0; margin-bottom: 0; margin-right: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius:0;
}

.skills .progress .skill {
  padding:0;
  margin-top: 0; margin-left: 0; margin-bottom: 6px; margin-right: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: left;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding-top: 0; padding-left: 0; padding-bottom: 20px; padding-right: 20px;
  margin-top: -2px;
  border-right: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding:5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-right: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius:50px;
  right: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding:0;
  margin-top: 0; margin-left: auto; margin-bottom: 35px; margin-right: auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius:50px;
  padding:2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding-top: 10px; padding-left: 15px; padding-bottom: 8px; padding-right: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
  margin-left: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  right: 0;
  left: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-right: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.portfolio-details .portfolio-info {
  padding:30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding:0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding:0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius:50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #149ddd;
}

.services .title {
  margin-right: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #149ddd;
}

.services .description {
  margin-right: 80px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius:50%;
  margin:0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px; margin-left: 0; margin-bottom: 5px; margin-right: 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin:0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  right: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  left: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin-top: 0; margin-left: 15px; margin-bottom: 15px; margin-right: 15px;
  padding:20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius:6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  right: calc(50% - 20px);
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding:30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: right;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding-top: 0; padding-left: 0; padding-bottom: 10px; padding-right: 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-right: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding:8px 0;
  border-radius:50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-left: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding:30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin-top: 0; margin-left: 0; margin-bottom: 15px; margin-right: 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: right;
  padding:15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding:15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding:15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius:50%;
  width: 24px;
  height: 24px;
  margin-top: 0; margin-left: 10px; margin-bottom: -6px; margin-right: 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius:0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding:10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding:10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius:4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding:20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding:0;
  margin:0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-right: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-left: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  background: linear-gradient(rgb(4, 19, 41), rgb(22 57 75), rgb(10 47 67));
}

#footer .container {
  max-width: 100%;
}

#footer .row {
  margin-left: 0;
  margin-right: 0;
}

#footer .col-md-6 {
  padding: 0;
}

#footer p {

  margin-bottom: 0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-left: 20px;
    padding-right: 15px;
    text-align: center;
  }
}

/* Adjust footer for smaller screens */
@media (max-width: 767px) {
  #footer {
    padding: 10px;
    font-size: 12px;
  }
}

.word-doc-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .word-doc-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .word-doc-input-section {
    margin-bottom: 20px;
  }
  

  
  .word-doc-button-section {
    display: flex;
    justify-content: space-between;
  }
  

  

/**Welcome Page***/

  /* Add space at the bottom of the calendar container to prevent it from being covered by the footer */
.calendar-container {
  padding-bottom: 100px; /* Adjust the value as needed */
}

  .navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  .welcome-container {
    position: relative;
    background-image: url('./images/welcome.jpg');
    background-size: contain;
  }
  .masthead{
        background-image: url('./images/welcome.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
      
  }
  .welcome-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/bg-pattern.png');
    background-size: cover-image;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .welcome-container {
      padding: 20px;
    }
  }
  

  /**Welcome Page End***/
  /**Procedure Search Page ***/
  .procedure-search {
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .search-button {
    background-color: #002d43;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #001d2b;
  }

  .details-row {
    display: flex;
    justify-content: space
  }  
  /**Procedure Search End***/
  /**Login Page ***/
  .login-btn{

    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  .login-btn:hover{
    background-color: #ffc108;
  }
  /**Guest Page ***/
  
.guest_card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  }
  
  .guest_card__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  }
  
  .guest_card__description {
  font-size: 1rem;
  text-align: center;
  color: #999;
  line-height: 1.5;
  }
  .change-btn {
    margin-bottom: 12px;
  background-color: #7f060e;
}

.change-btn:hover {
  background-color: #ffc108;
}

  /**Guest Page End***/


/*Court Setting*/
.court-setting-card-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  background: #103a51;
  text-align: center;
  font-size: 1.5rem;
  color: #ffc108;
}
.name {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 0;
  }
  
  .label {
    color: #6c757d;
    font-size: 18px;
  }
  
  .client-phone {
    color: #28a745;
  }
  
  .client-email {
    color: #dc3545;
  }
  
  .client-religion {
    color: #ff9800;
  }
  
  .client-address {
    color: #795548;
  }
  
  .client-emergency {
    color: #9c27b0;
  }
  
  .client-work {
    color: #607d8b;
  }
.client-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
.client-add-icon {
  width: 90px;
  height: 60px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
.animated-card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.animated-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
/*btn Start*/
.btn-back{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.btn-add{
  text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 1rem;

}
/*btn End*/
/*Icons Start*/

.legCase-icon{
  width: 75px;
  height: 60px;

}
.card-icon {
    transition: all 0.3s ease-in-out;
}

.animated-card:hover .card-icon {
  transform: rotate(360deg);
}

.dashboard-icon {



  width: 180px;
  height: 100px;

}

.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}

.leg-case-icon {
  padding-bottom: 3px;
  width: 150px;
  height: 75px;
}
/*Icons End*/

/*Court Setting End*/
.nav-link {
    font-size: 24px;
    font-family: 'Cairo', sans-serif, Arial, sans-serif;


    }


  .navbar-brand {
    margin-right: 1rem;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #ffffff;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
  }

  .navbar-nav {
    font-family: 'THARWAT EMARA RUQAA LIGHT', Arial, sans-serif;
    flex-direction:column;
    margin-right: auto;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  @media (max-width: 991.98px) {
    .navbar-nav {
      flex-direction: column;
    }

    .navbar-collapse {
      justify-content: center;
    }

    .navbar-nav .nav-link-custom {
      margin-bottom: 0.5rem;
    }
  }

  .my-card-component {
    font-size: 20px;
    font-family: 'THARWAT EMARA RUQAA LIGHT', Arial, sans-serif;
  }

  .my-card-component h1,
  .my-card-component h2 {
    font-weight: bold;
  }

  .my-card-component .btn-group .btn {
    font-size: 20px;
  }

  .my-card-component .table {
    font-size: 20px;
    font-family: 'Cairo', sans-serif, Arial, sans-serif;
  }

  .my-card-component .modal-content {
    font-size: 20px;
    font-family: 'Cairo', sans-serif, Arial, sans-serif;
  }

  .data-row {
    font-family: 'Cairo', sans-serif, Arial, sans-serif;
    margin-bottom: 10px;
  }

  h3,
  h4 {
    font-family: 'Cairo', sans-serif, Arial, sans-serif;
    color: #ff9800;
  }



  .form-header {
    font-family: 'Cairo', sans-serif, Arial, sans-serif;
    text-align: center;
    background-color: #c8daff;
  }

  .text-center {
    text-align: center;
  }

  .table {
    margin-top: 10px;
  }

  .table th {
    text-align: center;
    font-size: 16px;
    font-family: 'Cairo';
    background-color: rgb(255 242 186);
    color: #296571;
    
  }
.table tbody{
    text-align: center;
    font-size: 14px;
    font-family: 'Cairo';

    color: #296571;
}



  .mb-3 {
    margin-bottom: 15px;
  }

  .align-items-center {
    align-items: center;
  }

  .mt-6 {
    margin-top: 6px;
  }

  .mb-0 {
    margin-bottom: 0;
  }
  /* LegCase List */
  .button-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .button-container > * {
      margin-bottom: 5px;
    }

    .icon-card {
      background-color: #f8d7da;
      /* Cute color for the card background */
      border: none;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
    }

    .icon-card:hover {
      background-color: #e8e87a;
      /* Cute color for the card background on hover */
    }

    .icon-circle {
      background-color: #0a1e3d;
      /* Cute color for the circle background */
      width: 80px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .icon-card-title {
      color: #dc3545;
      /* Cute color for the title text */
      font-size: 24px;
      font-weight: bold;
    }

    .icon-card-text {
      color: #6c757d;
      /* Cute color for the text */
      font-size: 21px;
    }



    .event-card:hover {
      background-color: #f2f2f2;
    }



    /* Other styles */
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    .section-title {
      font-size: 32px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #555;
    }

    .text-center {
      text-align: center;
    }

    .text-muted {
      color: #999;
    }

    /* Responsive styles */
    @media screen and (max-width: 767px) {
      .icon-card {
        padding: 10px;
      }

      .icon-card-title {
        font-size: 20px;
      }

      .icon-card-text {
        font-size: 18px;
      }

      .event-card {
        margin-bottom: 20px;
      }
    }
  /* Other styles */
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    .section-title {
      font-size: 32px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #555;
    }

    .text-center {
      text-align: center;
    }

    .text-muted {
      color: #999;
    }

    /* Responsive styles */
    @media screen and (max-width: 767px) {

      .icon-card-title {
        font-size: 20px;
      }

      .icon-card-text {
        font-size: 18px;
      }

      .event-card {
        margin-bottom: 20px;
      }
    }

    /* Tablet styles */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .section-title {
        font-size: 28px;
      }

      .button {
        padding: 8px 16px;
      }
    }

    /* Mobile styles */
    @media screen and (max-width: 767px) {
      .section-title {
        font-size: 24px;
      }

      .button {
        padding: 6px 12px;
      }
    }
    .custom-card-header{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius : 8px;
        padding: 20px;
        font-family: 'Cairo', sans-serif;
      font-weight: bold;
        background : #103A51;
        text-align: center;

        color: #FFC108;


    }
    .add-link-client{
      color: #0a1e3d;
      font-size: medium;
    font-family: "cairo",sans-serif;
      font-weight: bold;
    }
    .leg-details-banner-image {
      width: 250px;
      height: 100px;
    }


    .leg-case-details-card {
      border-radius: 10px;
    background: rgb(9, 45, 54);
      padding: 20px;
    }
    .data-box {
      position: relative;
      overflow: hidden;
    }

    .data-box:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        rgba(255, 215, 0, 0.8) 50%,
        transparent 100%
      );
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    .data-box:hover:before,
    .data-box:focus:before {
      transform: translateX(0%);
    }

    .data-label,
    .data-value {
      position: relative;
      z-index: 1;
    }


    .data-row {
      margin-bottom: 20px;
    }

    .data-box {
      border-radius: 5px;
      padding: 20px;
      transition: transform 0.3s;
    }

    .data-box:hover {
      transform: scale(1.05);
    }

    .data-label {
      color: #FFFFFF;
      font-weight: bold;
      font-family: "cairo",sans-serif;
      font-size: 1.7rem;
    }

    .data-value {
      color: #031738;
      font-weight: bold;
      font-family: "cairo",sans-serif;
      font-size: 1.2rem;
    }
