/* App.css */
body {
   background: radial-gradient(
    circle at center,
    #00040e 10%,
    #202b45 50%,
    #15203c 100%
  );
  font-family: 'Open Sans', sans-serif;
  color: #272829;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --primary-color: #020818;
  --primary-hover: #034c52;
  --secondary-color: #e41e1e;
  --accent-color: #df9114;
  --accent-hover: #9c6000;
  --bg-color: #f4f6f9;
  --text-light: #000000;
  --text-dark: #ffffff;
}
::placeholder {
  color: #000000;
  opacity: 1;
  direction: rtl;
  text-align: right;
}

a {
  color: #149ddd;
  text-decoration: none;
}


/* CSS for masthead */

/* CSS for form */

.form-icon {
  margin-right: 5px;
}

.btn-loading {
  background-color: rgb(225, 225, 2);
  color: black;
  border-radius: 60px;
  padding: 11px 4px;
  margin: auto;
}

/* Report */
.report-procedure-icon {
  width: 95px;
  height: 70px;
}
/* Special Table Styles */
.special-table {
  width: 100%;
  border-collapse: collapse;
}

.special-table th,
.special-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Zebra striping for rows */
.special-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for rows */
.special-table tr:hover {
  background-color: #ddd;
}

/* Header Styles */
.special-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center; /* Aligning to the right for RTL */
  background-color: #04aa6d;
  color: white;
}

.login-back {
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
}

/* Courte sEtting*/
.card-header-courts {
  background: linear-gradient(325deg, #1a485c, #0a2741);
  color: #ffface;
  padding: 20px;
  border-bottom: 1px solid #ccc;

  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
/* Sections Headers */
.section-card-header {
  box-shadow: 0 20px 15px #4c7286; /* Add shadow here */
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border-radius: 80px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e3bd65;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
}

.title-row {
  width: 100%;
  text-align: center; /* Center the text */
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* Push button to the right */
}

.add-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-right: 34px;
}

.add-btn:hover {
  background-color: var(--accent-hover);
}

.back-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: var(--primary-hover);
}
/* Responsive styles */
@media (max-width: 768px) {
  .section-card-header {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
  }
}
.add-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
.back-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .section-card-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */

    font-size: 1rem;
    padding: 6px;
    border-radius: 40px;
  }
  .add-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
  .back-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Back to top button */

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

/* Profile Section */
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

/* Social Links */
/* Lawyer Section */

/* Container Padding */
.container {
  padding-left: 15px; /* Adjust padding based on your design */
  padding-right: 15px; /* Adjust padding based on your design */
}

/*Court Setting*/
.name {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 0;
}

.label {
  color: #6c757d;
  font-size: 18px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
/*btn Start*/
/*btn End*/

/*Expenses Start*/

.expenses-card-header {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 251, 0);
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border: 6px solid #e4a802;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(5, 56, 97, 0.726);
  transition: all 0.3s ease;
}
/*Expenses End*/
/*Icons Start*/

.dashboard-icon {
  width: 180px;
  height: 100px;
}

.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}

/*Icons End*/

/* legalCase Detaiis End*/

/* Responsive styles */
@media screen and (max-width: 767px) {
  .event-card {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Cards and headers */

  /* Banner and Icons */

  /* Mobile styles */
  @media screen and (max-width: 767px) {
    .button {
      padding: 6px 12px;
    }
  }
  .custom-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background: linear-gradient(
      135deg,
      #1a5dca,
      #745114
    ); /* Same gradient as topnav */ /* تدرج ألوان جميل وجذاب */

    @media (min-width: var(--breakpoint-md)) {
      /* Your styles for medium devices and up */

      /**Procedure Search Page ***/

      .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .search-button {
        background-color: #002d43;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }

      .search-button:hover {
        background-color: #001d2b;
      }

      /* Procdure Search */
      .search-label-text {
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: #f3e6e6;
        border: 1px solid linear-gradient(to top, #1d0367, #3c0381, #330250); /* تدرج ألوان جميل وجذاب */

        background: linear-gradient(
          rgb(4, 19, 41),
          rgb(22 57 75),
          rgb(10 47 67)
        );
        padding-top: 10px; /* Add padding to create space around the text */
      }
      .search-button {
        font-family: 'Cairo', sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: #b14141;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        border-radius: 10px; /* Add border-radius for a cute rounded look */

        /* Add a cute hover effect */
      }
    }
  }
}

/* ======================== BASE STYLES ======================== */
body {
  font-family: 'Open Sans', sans-serif;
  color: #272829;
  margin: 0;
  padding: 0;
}

:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --primary-color: #0041e6;
  --primary-hover: #26428b;
  --secondary-color: #e41e1e;
  --accent-color: #df9114;
  --accent-hover: #9c6000;
  --bg-color: #f4f6f9;
  --text-light: #000000;
  --text-dark: #ffffff;
}

a {
  color: #149ddd;
  text-decoration: none;
}

::placeholder {
  color: #000000;
  opacity: 1;
  direction: rtl;
  text-align: right;
}

/* ======================== SPLASH STYLES ======================== */
.splash-container {
  opacity: 1;
  position: relative; /* Create a stacking context */
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at center,
    #0b2440 0%,
    #1a466b 50%,
    #0a2b41 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.splash-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  /* Your pattern image */
  background-image: url('/back.png');
  opacity: 0.9;
  z-index: -2; /* Ensure it's above the background image */
  pointer-events: none;

  /* Optional blur effect */
  backdrop-filter: blur(15px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ======================== CONTENT STYLES ======================== */

/* ======================== HEADER & MASTHEAD ======================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

/* ======================== FORM & BUTTONS ======================== */

.form-icon {
  margin-right: 5px;
}

.btn-loading {
  border: none;
  border-radius: 60px;
  padding: 11px 4px;
  margin: auto;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.btn-loading {
  background-color: rgb(225, 225, 2);
  color: black;
}

/* ======================== REPORT STYLES ======================== */

/* ======================== RESPONSIVE STYLES ======================== */
@media (max-width: 768px) {
  /* Styles for medium devices */
}

@media (max-width: 480px) {
  /* Styles for smaller devices */
}
/* ======================== TYPOGRAPHY ======================== */
h2,
h3,
h5 {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

/* ======================== CONTAINERS & SECTIONS ======================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======================== ICONS ======================== */
.icon {
  font-size: 24px;
  color: var(--accent-color);
}

.icon:hover {
  color: var(--accent-hover);
}

/* ======================== MODALS ======================== */

/* ======================== TABLES ======================== */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.table thead th {
  background-color: var(--primary-color);
  color: var(--text-dark);
  padding: 10px;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: var(--primary-hover);
}

/* ======================== UTILITY ======================== */
.mt-5 {
  margin-top: 5rem !important;
}

/* Add any other utilities you need... */

/* ======================== FOOTER ======================== */
.footer {
  background-color: var(--primary-color);
  color: var(--text-dark);
  padding: 1rem 0;
  position: relative;
}

.footer a {
  color: var(--text-dark);
}

.footer a:hover {
  text-decoration: underline;
}

/* ======================== MEDIA QUERIES ======================== */
@media (max-width: 768px) {
  .splash-container {
    flex-direction: column;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  .footer {
    padding: 0.5rem 0;
  }
}

::placeholder {
  color: #000000;
  opacity: 1;
  direction: rtl;
  text-align: right;
}
/* Style for the splash screen container */
.splash-container {
  opacity: 1;
  position: relative; /* Create a stacking context */
  width: 100vw;
  height: 100vh;
  background-color: #0d3346; /* Theme color */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
a {
  color: #149ddd;
  text-decoration: none;
}

/* CSS for masthead */

/* CSS for navbar */

/* CSS for form */

.form-icon {
  margin-right: 5px;
}

.btn-loading {
  background-color: rgb(225, 225, 2);
  color: black;
  border-radius: 60px;
  padding: 11px 4px;
  margin: auto;
}

/* Report */
.report-procedure-icon {
  width: 95px;
  height: 70px;
}
/* Special Table Styles */
.special-table {
  width: 100%;
  border-collapse: collapse;
}

.special-table th,
.special-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* Zebra striping for rows */
.special-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for rows */
.special-table tr:hover {
  background-color: #ddd;
}

/* Header Styles */
.special-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center; /* Aligning to the right for RTL */
  background-color: #04aa6d;
  color: white;
}

.login-back {
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
}

/* Courte sEtting*/
.card-header-courts {
  background: linear-gradient(325deg, #1a485c, #0a2741);
  color: #ffface;
  padding: 20px;
  border-bottom: 1px solid #ccc;

  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
/* Sections Headers */
.section-card-header {
  box-shadow: 0 20px 15px #4c7286; /* Add shadow here */
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border-radius: 80px;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e3bd65;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally */
}

.title-row {
  width: 100%;
  text-align: center; /* Center the text */
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* Push button to the right */
}

.add-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-right: 34px;
}

.add-btn:hover {
  background-color: var(--accent-hover);
}

.back-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: var(--primary-hover);
}
/* Responsive styles */
@media (max-width: 768px) {
  .section-card-header {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */
  }
}
.add-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
.back-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .section-card-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow here */

    font-size: 1rem;
    padding: 6px;
    border-radius: 40px;
  }
  .add-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
  .back-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Profile Section */
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

/* Social Links */
/* Lawyer Section */

/* Container Padding */
.container {
  padding-left: 15px; /* Adjust padding based on your design */
  padding-right: 15px; /* Adjust padding based on your design */
}

/*Court Setting*/
.name {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 0;
}

.label {
  color: #6c757d;
  font-size: 18px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
/*btn Start*/
/*btn End*/

/*Expenses Start*/

.expenses-card-header {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 251, 0);
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border: 6px solid #e4a802;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(5, 56, 97, 0.726);
  transition: all 0.3s ease;
}
/*Expenses End*/
/*Icons Start*/

.dashboard-icon {
  width: 180px;
  height: 100px;
}

.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}

/*Icons End*/

/* legalCase Detaiis End*/

/* Responsive styles */
@media screen and (max-width: 767px) {
  .event-card {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Cards and headers */

  /* Banner and Icons */

  /* Mobile styles */
  @media screen and (max-width: 767px) {
    .button {
      padding: 6px 12px;
    }
  }
  .custom-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background: linear-gradient(
      135deg,
      #1a5dca,
      #745114
    ); /* Same gradient as topnav */ /* تدرج ألوان جميل وجذاب */

    @media (min-width: var(--breakpoint-md)) {
      /* Your styles for medium devices and up */

      /**Procedure Search Page ***/

      .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .search-button {
        background-color: #002d43;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }

      .search-button:hover {
        background-color: #001d2b;
      }

      /* Procdure Search */
      .search-label-text {
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: #f3e6e6;
        border: 1px solid linear-gradient(to top, #1d0367, #3c0381, #330250); /* تدرج ألوان جميل وجذاب */

        background: linear-gradient(
          rgb(4, 19, 41),
          rgb(22 57 75),
          rgb(10 47 67)
        );
        padding-top: 10px; /* Add padding to create space around the text */
      }
      .search-button {
        font-family: 'Cairo', sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: #b14141;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        border-radius: 10px; /* Add border-radius for a cute rounded look */

        /* Add a cute hover effect */
      }
    }
  }
}
