
* {
  margin: 0;
  padding: 0;
  font-size: 14.5px;
  font-weight: 600;
  box-sizing: border-box;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
a {
  text-decoration: none !important;
}
ul li {
  list-style: none !important;
}
.modal {
  position: relative;
  z-index: 99999 !important;
  margin-top: 100px;
}
/*loading spinner*/

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
/*========= buttons-hover ============*/
.button-hover {
  appearance: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  min-width: 0;
  outline: none;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button-hover:disabled {
  pointer-events: none;
}
.button-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.button-hover:active {
    box-shadow: none;
    transform: translateY(0);
}.home-page{
    height: auto; /* الارتفاع يتغير تبعًا للمحتوى */
}

.home-page .carousel-inner .carousel-item{
    height: auto; /* ارتفاع تلقائي */
}

.home-page .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain; /* يظهر الصورة بالكامل */
}

.caption {
  padding: 20px; /* التباعد للشاشات الكبيرة */
  background: rgba(0, 0, 0, 0.7); /* خلفية شبه شفافة */
}

.caption h1 {
  font-size: 24px; /* حجم الخط للشاشات الكبيرة */
}

.caption h3 {
  font-size: 16px; /* حجم الخط للشاشات الكبيرة */
}
/*header*/
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 9999;
}
header .top-section {
  height: 40px;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
header .top-section .container {
  height: 100%;
  display: flex;
  align-items: center;
}
header .top-section .media-icons {
  height: 100%;
  display: flex;
  align-items: center;
}
header .top-section .media-icons i {
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}
.top-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-btn a {
  font-size: 12px;
  padding: 0 10px;
  color: #4e6c50;
  border-radius: 8px;
  background-color: #fff;
}
.follow-btn a:hover {
  color: #4e6c50;
}
header .left-side-info a,
header .left-side-info i {
  color: #fff;
}
/*nav*/
nav {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar .nav-link {
  margin: 0 5px;
}
.navbar .nav-link.active {
  color: #f5ca1e !important;
}
.navbar-nav .nav-item a {
  position: relative;
  color: #000 !important;
  font-weight: 600;
  width: max-content;
  font-size: large;
}
.navbar-nav .nav-item a:hover {
  color: #000;
}
.navbar-nav .nav-item a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );

  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.navbar-nav .nav-item a:hover::before {
  transform: scaleX(1);
}
nav .nav-item a {
  font-weight: 600;
  width: max-content;
  color: #000 !important;
}
nav .request-btn a {
  width: 160px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
nav .request-btn a:hover {
  color: #fff;
}
/*srvices*/
.srvices {
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}

.srvices .srvices-items {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.srvices .srvices-items img {
  width: 80px;
}
.srvices .srvices-items a {
  color: #fff;
}
.srvices .srvices-items .srvices__content {
  padding: 10px 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
/*=============== About ===============*/
.about {
  height: max-content;
}
.law-firm-info h2 {
  text-decoration: underline #4e6c50;
}
.commitment h2,
.practice h2,
.contact-us h2,
.blog-details h2 {
  text-align: center;
  text-decoration: underline #4e6c50;
  padding: 25px 0;
}
.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.about__img-overlay {
  overflow: hidden;
  border-radius: 8px;
}
.about__img-one {
  width: 100%;
  height: 100%;
}
.about__img-one {
  transition: 0.3s;
}
.about__container {
  display: flex;
}
.about__data h2 {
  padding: 15px 0;
}
.about__img-overlay img {
  border-radius: 8px;
  cursor: pointer;
}
.about__img-one:hover {
  transform: scale(1.1);
  border-radius: 8px;
}
.see-more-btn a {
  color: #4e6c50;
}
.see-more-btn a:hover {
  color: #4e6c50;
}
.ml14 {
  font-weight: 200;

  font-family: 'Noto Kufi Arabic', sans-serif;
}
.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-bottom: 0.15em;
}
.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );

  transform-origin: 100% 100%;
  bottom: 0;
}
.ml14 .letter {
  font-size: 28px;
  display: inline;
  line-height: 1em;
}
/*===================== commitment ======================*/
.commitment{
    height: 350px;
    display: flex;
    padding-top: 30px;
    justify-content: center;

    align-items: center;
    background-image: linear-gradient(rgb(47 70 81 / 70%),rgb(58 102 110 / 70%)), url(/src/assets/img/home-img/commet.png);
    background-position: 40% 80%;
    background-size: cover;
}
.commitment-info {
  width: 50%;
}
.commitment p{

    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: #fff;
    word-spacing: 5px;
}
/*============= Best Lawyers =================*/
.lawyer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}

.services-slider {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}
section .letters {
  font-size: 28px;
}
/*======clients-says=======*/
/*========== our-latest-news ===========*/
.read-more {
  font-size: 20px;
  color: #4e6c50;
}
.read-more:hover {
  color: #4e6c50;
}
/*======== our-special-clients ========*/
/*========== contact-us =======*/
.contact-us img {
  width: 90%;
  border-radius: 15px;
}
.contact-us h3 {
  font-size: 20px;
  margin-top: 30px;
}
.contact-us i {
  color: #066060;
}
.contact-us a {
  color: #000;
  padding-left: 10px;
}
/* Contact.css */

.contact-us {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.contact-info {
  text-align: end;
}

.contact-details {
  font-size: 18px;
}

.contact-details i {
  font-size: 24px;
  margin-right: 10px;
}

.working-hours {
  font-size: 18px;
}

.working-hours i {
  font-size: 24px;
  margin-right: 10px;
}

.email {
  color: #007bff;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

/*========map ==========*/
.map iframe {
  width: 100%;
  height: 400px;
}
/*=============== FOOTER ===============*/
footer {
    background-color: #333333;
    color: #FFF; /* تعيين لون النص الأساسي */
    font-family: 'Arial', sans-serif; /* تحديد الخط */
}

footer a {
    color: #05364c; /* لون الروابط */
}

footer a:hover {
    color: #FFF; /* لون الرابط عند التحريك فوقه */
}

footer h3 {
    color: #FFF; /* لون العناوين */
}

footer .info img{
    width: 60px;
}
footer p {
  color: #fff;
  font-size: 16px;
}
footer .info a {
  height: max-content;
  padding: 5px 0;
  color: #fff;
  text-align: start;
  display: flex;
  align-items: flex-start;
}
footer .info p {
  color: #fff;
}
footer a i {
  color: #4e6c50;
  font-size: 1.4rem;
}
.copyright {
  text-align: center;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
.copyright p {
  color: #fff;
  padding: 5px 0;
  margin-bottom: 0;
}

/*================================= About Page =================================*/
.tab-content .tab-pane {
  height: 60vh;
}
/*================================= Atorney Page =================================*/
.atorney img {
  width: 400px;
  height: 280px;
}
.atorney .row,
.practice .row {
  display: flex;
  flex-direction: row;
}
/*================================= Contact Page =================================*/
.contact-page,
.blog-details {
  margin-top: 150px;
}
.contact-page .media-icons a i {
  width: 0px !important;
  font-size: 22px;
}
.contact-page i {
  width: 20px;
}
/*================================= blog-details Page =================================*/
.blog-details .about__img-one {
  width: 600px;
  height: 400px;
}
.blog-details .row {
  display: flex;
  flex-direction: row;
}
.blog-item h3 {
  font-size: 22px;
  padding: 20px 0;
}
/*================================= media queries =================================*/
@media screen and (max-width:575px) {
    /*home-page*/
    .home-page .carousel-inner .carousel-item {
        height: auto; /* جعل الارتفاع يتغير تبعاً للعرض */
        margin-top: 60px !important;
    }
    .home-page .carousel-item .carousel-caption {
        display: block !important;
    }
    
.carousel-caption {
    position: absolute;
    left: 15%;
    bottom: -2.75rem;
    right: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.home-page{
    height: auto;
}  .carousel-indicators{
    display: none;
}

  .caption {
    padding-top:    15px; /* تقليل الهامش الداخلي بشكل أكبر للهواتف المحمولة */
  }

  .caption h1 {
    font-size: 12px; /* تقليل حجم العنوان بشكل أكبر للهواتف المحمولة */
  }

  .caption h3 {
    font-size: 10px; /* تقليل حجم النص الفرعي بشكل أكبر للهواتف المحمولة */
  }
    header .top-section{
        height: 50px;
    }
    .top-section .container{
        flex-direction: column;
    }

  /*about*/
  .about__container {
    flex-direction: column-reverse;
  }
  .ml14 .letter {
    font-size: 24px;

    font-family: 'Noto Kufi Arabic', sans-serif;
  }
  /*srvices*/
  .srvices {
    width: 100vw; /* عرض القسم بكامل عرض الشاشة */
    overflow-x: hidden;
  }
  .services-slider {
    display: flex; /* استخدام flex لتمكين التوسيط */
    justify-content: center; /* توسيط العناصر أفقيًا */
    align-items: center; /* توسيط العناصر عموديًا */
    visibility: visible;
    width: 90vw; /* تحديد عرض الكاروسيل */
    height: 220px; /* تحديد ارتفاع الكاروسيل */
  }
  .services-slider .carousel-item a {
    color: #fff;
    margin-left: auto;
    margin-right: 39px;

    display: block; /* جعل الروابط block لتسهيل التوسيط */
  }
  .services-slider img {
    width: 150px; /* تحديد عرض الصورة */
    margin-left: auto; /* توسيط الصورة أفقيًا */
    margin-right: auto; /* توسيط الصورة أفقيًا */
    padding: 20px 0;
  }
  .srvices .srvices-items {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  /*commitment*/
  .commitment {
    height: 320px;
  }

  .commitment-info {
    width: 100%;
    padding: 20px;
  }
  /*lawyer*/
  .lawyer {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }
  /*our-special-clients*/
  /*contact-us*/
  .contact-us img {
    width: 100%;
  }
  /*footer*/
  footer {
    height: 400px;
    overflow-y: scroll;
  }
  /*================= About-page ==================*/
  /*================= Atorney-page ==================*/
  .atorney .row,
  .practice .row,
  .blog-details .row {
    display: flex;
    flex-direction: column !important;
  }
  /*================= PDF Page ==================*/
  
 .subtypes {
  margin-bottom: 20px;
}

h2, h3 {
  text-align: center;
  color: #333;
}

#file {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {

  .row div {
    flex: 100%;
    max-width: 100%;
  }
}
}

@media (min-width: 768px) and (max-width: 1200px) {
  .commitment {
    height: 320px;
  }
}

/* Manual review recommended for:
- Grid system usage
- Responsive design
- RTL adjustments
- Custom styles compatibility */
