body {
  background: radial-gradient(
    circle at center,
    #0f1621 10%,
    #121e33 50%,
    #172133 90%,
    #063e50 100%
  );
  font-family: 'Open Sans', sans-serif;
  color: #cce6ff;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 100px #00040e;
}
:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --primary-color: #020818;
  --primary-hover: #034c52;
  --secondary-color: #e41e1e;
  --accent-color: #df9114;
  --accent-hover: #9c6000;
  --bg-color: #f4f6f9;
  --text-light: #000000;
  --text-dark: #ffffff;
}
::placeholder {
  color: #000;
  opacity: 1;
  direction: rtl;
  text-align: right;
}
a {
  color: #149ddd;
  text-decoration: none;
}
.frame {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: solid 1px #ddd;
  padding: 20px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #0b2440 0, #010e18 50%, #0a2b41 100%);
  border-radius: 5px;
}
.logo-circle-app {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}
.content-app {
  background-color: #1a2840;
  padding: 20px;
  border-radius: 5px;
}
.home-card {
  box-shadow:
    0 5px 5px #accddf,
    0 10px 10px #ffe863;
  background: linear-gradient(325deg, #a4d7eb, #174975);
  color: #ffff6b;
}
.card-header-courts {
  background: linear-gradient(325deg, #1a485c, #0a2741);
  color: #ffface;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-family: Cairo, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.section-card-header {
  box-shadow: 0 20px 15px #4c7286;
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border-radius: 80px;
  padding: 10px;
  font-family: Cairo, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e3bd65;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-img.img {
  width: 100%;
  height: 100%;
}
.title-row {
  width: 100%;
  text-align: center;
}
.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.add-btn {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 34px;
}
.add-btn:hover {
  background-color: var(--accent-hover);
}
.back-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.back-btn:hover {
  background-color: var(--primary-hover);
}
@media (max-width: 768px) {
  .section-card-header {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.add-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
.back-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
@media (max-width: 480px) {
  .section-card-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 6px;
    border-radius: 40px;
  }
  .add-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
  .back-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
}
.text-center {
  text-align: center;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.name {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 0;
}
.label {
  color: #6c757d;
  font-size: 18px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
.expenses-card-header {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffb00;
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border: 6px solid #e4a802;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(5, 56, 97, 0.726);
  transition: all 0.3s ease;
}
.dashboard-icon {
  width: 180px;
  height: 100px;
}
.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .event-card {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  @media screen and (max-width: 767px) {
    .button {
      padding: 6px 12px;
    }
  }
  .custom-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    font-family: Cairo, sans-serif;
    font-weight: 700;
    background: linear-gradient(135deg, #1a5dca, #745114);
  }
}
.legal-case-icon {
  width: 100px;
  height: 100px;
}
.legal-session-icon {
  width: 100px;
  height: 100px;
}
.splash-container {
  opacity: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at center,
    #0b2440 0,
    #1a466b 50%,
    #0a2b41 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.splash-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(/back.jpg);
  opacity: 0.9;
  z-index: -2;
  pointer-events: none;
  backdrop-filter: blur(15px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}
.search-button {
  background-color: #b14141;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}
.search-button:hover {
  background-color: #ff6b6b;
}
.search-input-group {
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
}
@media (max-width: 768px) {
  .search-form {
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .search-input-group {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .search-input-group {
    width: 90%;
  }
}
.results-card-header {
  background-color: #007bff;
  color: #fff;
}
.results-table-header {
  background-color: #f8f9fa;
  color: #343a40;
}
.results-table-row:hover {
  background-color: #f0f0f0;
}
h2,
h3,
h5 {
  font-family: Cairo, sans-serif;
  font-weight: 700;
  margin-top: 0;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.icon {
  font-size: 24px;
  color: var(--accent-color);
}
.icon:hover {
  color: var(--accent-hover);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: radial-gradient(
    circle at center,
    #202b45 0,
    #15203c 60%,
    #00040e 100%
  );
  color: orange;
}
.modal-content {
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  overflow: auto;
  max-height: 90%;
  position: relative;
  padding: 20px;
  color: #000;
}
@media (max-width: 768px) {
  .modal-content {
    max-width: 95%;
    max-height: 95%;
  }
}
.footer {
  background-color: var(--primary-color);
  color: var(--text-dark);
  padding: 1rem 0;
  position: relative;
}
.footer a {
  color: var(--text-dark);
}
.footer a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .splash-container {
    flex-direction: column;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  .footer {
    padding: 0.5rem 0;
  }
}
::placeholder {
  color: #000;
  opacity: 1;
  direction: rtl;
  text-align: right;
}
.splash-container {
  opacity: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0d3346;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
a {
  color: #149ddd;
  text-decoration: none;
}
.card-header-courts {
  background: linear-gradient(325deg, #1a485c, #0a2741);
  color: #ffface;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-family: Cairo, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.section-card-header {
  box-shadow: 0 20px 15px #4c7286;
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border-radius: 80px;
  padding: 10px;
  font-family: Cairo, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #e3bd65;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-row {
  width: 100%;
  text-align: center;
}
.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.add-btn {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 34px;
}
.add-btn:hover {
  background-color: var(--accent-hover);
}
.back-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 14px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.back-btn:hover {
  background-color: var(--primary-hover);
}
@media (max-width: 768px) {
  .section-card-header {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.add-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
.back-btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
}
@media (max-width: 480px) {
  .section-card-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 6px;
    border-radius: 40px;
  }
  .add-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
  .back-btn {
    padding: 6px 12px;
    font-size: 0.7rem;
    border-radius: 16px;
  }
}
.text-center {
  text-align: center;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.name {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 0;
}
.label {
  color: #6c757d;
  font-size: 18px;
}
.court-icon {
  width: 60px;
  height: 60px;
}
.expenses-card-header {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffb00;
  background: linear-gradient(325deg, #1a485c, #0a2741);
  border: 6px solid #e4a802;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(5, 56, 97, 0.726);
  transition: all 0.3s ease;
}
.dashboard-icon {
  width: 180px;
  height: 100px;
}
.client-icon {
  padding-bottom: 3px;
  width: 70px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .event-card {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  @media screen and (max-width: 767px) {
    .button {
      padding: 6px 12px;
    }
  }
  .custom-card-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    font-family: Cairo, sans-serif;
    font-weight: 700;
    background: linear-gradient(135deg, #1a5dca, #745114);
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 14.5px;
  font-weight: 600;
  box-sizing: border-box;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
a {
  text-decoration: none !important;
}
ul li {
  list-style: none !important;
}
.modal {
  position: relative;
  z-index: 99999 !important;
  margin-top: 100px;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.button-hover {
  appearance: none;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  min-width: 0;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button-hover:disabled {
  pointer-events: none;
}
.button-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.button-hover:active {
  box-shadow: none;
  transform: translateY(0);
}
.home-page {
  height: auto;
}
.home-page .carousel-inner .carousel-item {
  height: auto;
}
.home-page .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.caption {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
}
.caption h1 {
  font-size: 24px;
}
.caption h3 {
  font-size: 16px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 9999;
}
header .top-section {
  height: 40px;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
header .top-section .container {
  height: 100%;
  display: flex;
  align-items: center;
}
header .top-section .media-icons {
  height: 100%;
  display: flex;
  align-items: center;
}
header .top-section .media-icons i {
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}
.top-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-btn a {
  font-size: 12px;
  padding: 0 10px;
  color: #4e6c50;
  border-radius: 8px;
  background-color: #fff;
}
.follow-btn a:hover {
  color: #4e6c50;
}
header .left-side-info a,
header .left-side-info i {
  color: #fff;
}
nav {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}
.navbar .nav-link {
  margin: 0 5px;
}
.navbar .nav-link.active {
  color: #f5ca1e !important;
}
.navbar-nav .nav-item a {
  position: relative;
  color: #000 !important;
  font-weight: 600;
  width: max-content;
  font-size: large;
}
.navbar-nav .nav-item a:hover {
  color: #000;
}
.navbar-nav .nav-item a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.navbar-nav .nav-item a:hover::before {
  transform: scaleX(1);
}
nav .nav-item a {
  font-weight: 600;
  width: max-content;
  color: #000 !important;
}
nav .request-btn a {
  width: 160px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
nav .request-btn a:hover {
  color: #fff;
}
.srvices {
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
.srvices .srvices-items {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.srvices .srvices-items img {
  width: 80px;
}
.srvices .srvices-items a {
  color: #fff;
}
.srvices .srvices-items .srvices__content {
  padding: 10px 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.about {
  height: max-content;
}
.law-firm-info h2 {
  text-decoration: underline #4e6c50;
}
.blog-details h2,
.commitment h2,
.contact-us h2,
.practice h2 {
  text-align: center;
  text-decoration: underline #4e6c50;
  padding: 25px 0;
}
.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.about__img-overlay {
  overflow: hidden;
  border-radius: 8px;
}
.about__img-one {
  width: 100%;
  height: 100%;
}
.about__img-one {
  transition: 0.3s;
}
.about__container {
  display: flex;
}
.about__data h2 {
  padding: 15px 0;
}
.about__img-overlay img {
  border-radius: 8px;
  cursor: pointer;
}
.about__img-one:hover {
  transform: scale(1.1);
  border-radius: 8px;
}
.see-more-btn a {
  color: #4e6c50;
}
.see-more-btn a:hover {
  color: #4e6c50;
}
.ml14 {
  font-weight: 200;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-bottom: 0.15em;
}
.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
  transform-origin: 100% 100%;
  bottom: 0;
}
.ml14 .letter {
  font-size: 28px;
  display: inline;
  line-height: 1em;
}
.commitment {
  height: 350px;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(47 70 81 / 70%), rgb(58 102 110 / 70%)),
    url(/src/assets/img/home-img/commet.png);
  background-position: 40% 80%;
  background-size: cover;
}
.commitment-info {
  width: 50%;
}
.commitment p {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: #fff;
  word-spacing: 5px;
}
.lawyer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}
.services-slider {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}
section .letters {
  font-size: 28px;
}
.read-more {
  font-size: 20px;
  color: #4e6c50;
}
.read-more:hover {
  color: #4e6c50;
}
.contact-us img {
  width: 90%;
  border-radius: 15px;
}
.contact-us h3 {
  font-size: 20px;
  margin-top: 30px;
}
.contact-us i {
  color: #066060;
}
.contact-us a {
  color: #000;
  padding-left: 10px;
}
.contact-us {
  background-color: #f8f9fa;
  padding: 50px 0;
}
.contact-info {
  text-align: end;
}
.contact-details {
  font-size: 18px;
}
.contact-details i {
  font-size: 24px;
  margin-right: 10px;
}
.working-hours {
  font-size: 18px;
}
.working-hours i {
  font-size: 24px;
  margin-right: 10px;
}
.email {
  color: #007bff;
  text-decoration: none;
}
.email:hover {
  text-decoration: underline;
}
.map iframe {
  width: 100%;
  height: 400px;
}
footer {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}
footer a {
  color: #05364c;
}
footer a:hover {
  color: #fff;
}
footer h3 {
  color: #fff;
}
footer .info img {
  width: 60px;
}
footer p {
  color: #fff;
  font-size: 16px;
}
footer .info a {
  height: max-content;
  padding: 5px 0;
  color: #fff;
  text-align: start;
  display: flex;
  align-items: flex-start;
}
footer .info p {
  color: #fff;
}
footer a i {
  color: #4e6c50;
  font-size: 1.4rem;
}
.copyright {
  text-align: center;
  background: radial-gradient(
    circle at center,
    #0b2440 10%,
    #072238 60%,
    #0a2b41 80%
  );
}
.copyright p {
  color: #fff;
  padding: 5px 0;
  margin-bottom: 0;
}
.atorney img {
  width: 400px;
  height: 280px;
}
.atorney .row,
.practice .row {
  display: flex;
  flex-direction: row;
}
.blog-details,
.contact-page {
  margin-top: 150px;
}
.contact-page .media-icons a i {
  width: 0 !important;
  font-size: 22px;
}
.contact-page i {
  width: 20px;
}
.blog-details .about__img-one {
  width: 600px;
  height: 400px;
}
.blog-details .row {
  display: flex;
  flex-direction: row;
}
.blog-item h3 {
  font-size: 22px;
  padding: 20px 0;
}
@media screen and (max-width: 575px) {
  .home-page .carousel-inner .carousel-item {
    height: auto;
    margin-top: 60px !important;
  }
  .home-page .carousel-item .carousel-caption {
    display: block !important;
  }
  .carousel-caption {
    position: absolute;
    left: 15%;
    bottom: -2.75rem;
    right: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }
  .home-page {
    height: auto;
  }
  .carousel-indicators {
    display: none;
  }
  .caption {
    padding-top: 15px;
  }
  .caption h1 {
    font-size: 12px;
  }
  .caption h3 {
    font-size: 10px;
  }
  header .top-section {
    height: 50px;
  }
  .top-section .container {
    flex-direction: column;
  }
  .about__container {
    flex-direction: column-reverse;
  }
  .ml14 .letter {
    font-size: 24px;
    font-family: 'Noto Kufi Arabic', sans-serif;
  }
  .srvices {
    width: 100vw;
    overflow-x: hidden;
  }
  .services-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    width: 90vw;
    height: 220px;
  }
  .services-slider .carousel-item a {
    color: #fff;
    margin-left: auto;
    margin-right: 39px;
    display: block;
  }
  .services-slider img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }
  .srvices .srvices-items {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .commitment {
    height: 320px;
  }
  .commitment-info {
    width: 100%;
    padding: 20px;
  }
  .lawyer {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }
  .contact-us img {
    width: 100%;
  }
  footer {
    height: 400px;
    overflow-y: scroll;
  }
  .atorney .row,
  .blog-details .row,
  .practice .row {
    display: flex;
    flex-direction: column !important;
  }
  h2,
  h3 {
    text-align: center;
    color: #333;
  }
  #file {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  button.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  button.btn-primary:hover {
    background-color: #0056b3;
  }
  .alert {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .row div {
      flex: 100%;
      max-width: 100%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .commitment {
    height: 320px;
  }
}
